<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x494848">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBDBF">@Strings.ColorLightGray</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x109AD7">@Strings.ColorBlue</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.CircleTimerColor" title="@Strings.CircleTimerColorTitle">
        <settingConfig type="list">
            <listEntry value="0x109AD7">@Strings.ColorBlue</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.CircleTimerArrows" title="@Strings.CircleTimerArrowsTitle">
        <settingConfig type="boolean" />
    </setting>

    <!-- Account 1 -->
    <group id="groupAccount1" title="@Strings.Account1">
        <setting propertyKey="@Properties.Account1Enabled" title="@Strings.AccountEnabled">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.Account1Name" title="@Strings.AccountName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.Account1Secret" title="@Strings.AccountSecret">
            <settingConfig type="password" />
        </setting>
    </group>

    <!-- Account 2 -->
    <group id="groupAccount2" title="@Strings.Account2">
        <setting propertyKey="@Properties.Account2Enabled" title="@Strings.AccountEnabled">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.Account2Name" title="@Strings.AccountName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.Account2Secret" title="@Strings.AccountSecret">
            <settingConfig type="password" />
        </setting>
    </group>

    <!-- Account 3 -->
    <group id="groupAccount3" title="@Strings.Account3">
        <setting propertyKey="@Properties.Account3Enabled" title="@Strings.AccountEnabled">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.Account3Name" title="@Strings.AccountName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.Account3Secret" title="@Strings.AccountSecret">
            <settingConfig type="password" />
        </setting>
    </group>

    <!-- Account 4 -->
    <group id="groupAccount4" title="@Strings.Account4">
        <setting propertyKey="@Properties.Account4Enabled" title="@Strings.AccountEnabled">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.Account4Name" title="@Strings.AccountName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.Account4Secret" title="@Strings.AccountSecret">
            <settingConfig type="password" />
        </setting>
    </group>

    <!-- Account 5 -->
    <group id="groupAccount5" title="@Strings.Account5">
        <setting propertyKey="@Properties.Account5Enabled" title="@Strings.AccountEnabled">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.Account5Name" title="@Strings.AccountName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.Account5Secret" title="@Strings.AccountSecret">
            <settingConfig type="password" />
        </setting>
    </group>

    <!-- Account 6 -->
    <group id="groupAccount6" title="@Strings.Account6">
        <setting propertyKey="@Properties.Account6Enabled" title="@Strings.AccountEnabled">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.Account6Name" title="@Strings.AccountName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.Account6Secret" title="@Strings.AccountSecret">
            <settingConfig type="password" />
        </setting>
    </group>

    <!-- Account 7 -->
    <group id="groupAccount7" title="@Strings.Account7">
        <setting propertyKey="@Properties.Account7Enabled" title="@Strings.AccountEnabled">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.Account7Name" title="@Strings.AccountName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.Account7Secret" title="@Strings.AccountSecret">
            <settingConfig type="password" />
        </setting>
    </group>

    <!-- Account 8 -->
    <group id="groupAccount8" title="@Strings.Account8">
        <setting propertyKey="@Properties.Account8Enabled" title="@Strings.AccountEnabled">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.Account8Name" title="@Strings.AccountName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.Account8Secret" title="@Strings.AccountSecret">
            <settingConfig type="password" />
        </setting>
    </group>

    <!-- Account 9 -->
    <group id="groupAccount9" title="@Strings.Account9">
        <setting propertyKey="@Properties.Account9Enabled" title="@Strings.AccountEnabled">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.Account9Name" title="@Strings.AccountName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.Account9Secret" title="@Strings.AccountSecret">
            <settingConfig type="password" />
        </setting>
    </group>

    <!-- Account 10 -->
    <group id="groupAccount10" title="@Strings.Account10">
        <setting propertyKey="@Properties.Account10Enabled" title="@Strings.AccountEnabled">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.Account10Name" title="@Strings.AccountName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.Account10Secret" title="@Strings.AccountSecret">
            <settingConfig type="password" />
        </setting>
    </group>

</settings>
